@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.container{
  width: 300px;
  margin: auto;
  background-color: rgb(225, 233, 232);
  
}
.t-box-1 img{
  margin-left: 45px;
  border-radius: 51% 44% 51% 43% / 46% 46% 50% 49% ;
  width: 200px;
  height: 175px;
}
.t-box-1 h1{
  margin-bottom: 15px;
  text-align: center;
  font-size:27px;
}
.t-box-1  h6{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top:0;
  text-align: center;
  font-weight: 600;
  font-size: 16px; 
}
.t-box-1 p{

  text-align: center;
  font-size: 15px;
}
.t-box-1 h6::after{
  display:block;
  content: "";
  background-color: rgba(168, 161, 161, 0.884);
  height: 1px;
  width: 200px;
  margin: 20px 50px;

}
.text-box p{
  font-weight: 700;
  font-size: 16px;
  text-align:center;
  color: rgb(237, 243, 243);
  background-color: #00e6a1;
  border-radius: 8px;
  height: 25px;
}
.social-media{
  font-size: 18px;
  margin: 10px 90px;
  padding:9px 8px;
}